    footer
        p
            | Copyright &copy; Rafael J. Rodriguez 2016. All Rights Reserved
        p
            a(href="mailto:rafase282@gmail.com")
                i(class="fa fa-envelope fa-fw")
            a(href="https://github.com/Rafase282" target="_blank")
                i(class="fa fa-github fa-fw")
            a(href="https://www.linkedin.com/in/rafase282" target="_blank")
                i(class="fa fa-linkedin")
            a(href="http://codepen.io/Rafase282" target="_blank")
                i(class="fa fa-codepen")
            a(href="https://rafase282.wordpress.com/" target="_blank")
                i(class="fa fa-wordpress")
            a(href="http://www.freecodecamp.com/rafase282" target="_blank")
                |  (
                i(class="fa fa-fire fa-fw")
                | )